@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Siddharth to your GitHub Searcher!</h1>
    <p>Enter any GitHub username like <strong>chiku2312</strong> or organization name like <strong>Microsoft</strong> to explore repositories.</p>
</div>

