name: Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - main 
      - master # jab tu main branch me push kare

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ./dotnet/MyApp/MyApp.csproj

      - name: Build
        run: dotnet publish -c Release -o ./publish

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: dotnet
          environment_name: dotnet-env
          region: us-east-1
          version_label: v-${{ github.run_number }}
          deployment_package: ./publish.zip

      - name: Zip publish folder
        run: cd publish && zip -r ../publish.zip .
